HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# 忽略这个文件
spring-boot-config/src/main/resources/aliyun-oss.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

#防止别人拉取出现额外的文件
.DS_Store

.idea/
